@import "tailwindcss";

.nav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  
  background-color: rgba(255, 255, 255, 0.8); 
  backdrop-filter: blur(12px); 
  border-bottom: 1px solid #eaeaea;
  
  box-sizing: border-box;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #1a1a1a;
  letter-spacing: -1px;
  cursor: pointer;
}

.nav-btn{
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #3b3535;
  padding: 8px 20px;
  border-radius: 50px; 
  font-weight: 700;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-btn:hover{
   background: #fff;
  color: #000;
  transform: translateY(-2px);
}

